:root {
    --dark-page-bg: #111111;
    --dark-header-bg: #232323;
    --light-page-bg: hsl(0, 100%, 100%);
    --light-header-bg: hsl(0, 0%, 54%);
    font-family: Arial, Helvetica, sans-serif;

}

.dark {
    background: var(--dark-page-bg);
}

body.light main {
    background: var(--light-page-bg);
}

body.dark main {
    background: var(--dark-page-bg);
}

.switch {
    width: 30px;
    height: 0px;
    border-radius: 50%;
    background: white;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dark .switch {
    margin-left: 30px;


}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px red;
    width: 100vw;
    height: 90px;


}

.dark header {
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.637);
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 50%
}

nav ul li {
    width: 70px;
    margin-right: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--light-header-bg)
}

.logo {
    background: rgb(233, 211, 17);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;

}

main {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tester {
    width: 400px;
    height: 300px;
    background: gray;
    margin: 20px;
    border-radius: 5px;

}

.Was {
    margin: 5px;
    width: 60px;
    height: 30px;
    padding: 2px;
    border-radius: 50px;
    background: rgb(165, 164, 164);
    transition: .5s;


}

.dark .fa-moon {
    font-size: 20px;
    color: rgb(255, 196, 0);
}

.fa-moon {
    transition: .4s;
    color: gray;
}

.dark a {
    color: #f9fbfd;
}